Node-RED_CVE7.json
[{"id":"172506d2.6ec649","type":"tab","label":"CVE 7","disabled":false,"info":""},{"id":"68a5eb29.edb7d4","type":"http in","z":"172506d2.6ec649","name":"Line: webhook","url":"/webhook","method":"post","upload":false,"swaggerDoc":"","x":120,"y":40,"wires":[["41ff4517.64034c","68f537c8.01ba28","c546ac00.3ace7"]]},{"id":"41ff4517.64034c","type":"debug","z":"172506d2.6ec649","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":20,"wires":[]},{"id":"c09b1800.a50a38","type":"function","z":"172506d2.6ec649","name":"customHeader","func":"msg.headers = {};\nmsg.headers['Authorization'] = '';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":440,"wires":[["46e434b6.dc0b7c"]]},{"id":"46e434b6.dc0b7c","type":"http request","z":"172506d2.6ec649","name":"LINE: Push","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://api.line.me/v2/bot/message/push","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":440,"wires":[[]]},{"id":"a4fa710d.a7a4f","type":"inject","z":"172506d2.6ec649","name":"Line Push: สวัสดี","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"to\":\"\",\"messages\":[{\"type\":\"text\",\"text\":\"สวัสดี\"}]}","payloadType":"json","x":260,"y":380,"wires":[["c09b1800.a50a38"]]},{"id":"68f537c8.01ba28","type":"function","z":"172506d2.6ec649","name":"addLog","func":"msg.payload = {\nquery: \"mutation line($log: jsonb) { insert_linelog_one(object: {log: $log}) { id log } }\",\nvariables: { log: msg.payload.events[0] },\noperationName: \"line\"\n};\nmsg.headers = {};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":80,"wires":[["8c0ae0af.b043d"]]},{"id":"8c0ae0af.b043d","type":"http request","z":"172506d2.6ec649","name":"severlog","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://api.sweetlandhub.com/v1/graphql","tls":"","persist":false,"proxy":"","authType":"","x":480,"y":80,"wires":[[]]},{"id":"4a0eda85.383ef4","type":"inject","z":"172506d2.6ec649","name":"Line Push: logo image","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"to\":\"\",\"messages\":[{\"type\":\"image\",\"originalContentUrl\":\"https://files.sweetlandhub.com/CVE7.jpg\",\"previewImageUrl\":\"https://files.sweetlandhub.com/CVE7.jpg\"}]}","payloadType":"json","x":240,"y":420,"wires":[["c09b1800.a50a38"]]},{"id":"20d016f1.ef606a","type":"inject","z":"172506d2.6ec649","name":"Line Push: Flex Bubble","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"to\":\"\",\"messages\":[{\"type\":\"flex\",\"altText\":\"This is a Flex Message\",\"contents\":{\"type\":\"bubble\",\"hero\":{\"type\":\"image\",\"url\":\"https://files.sweetlandhub.com/CVE7.jpg\",\"size\":\"full\",\"aspectRatio\":\"20:13\",\"aspectMode\":\"cover\",\"action\":{\"type\":\"uri\",\"uri\":\"http://linecorp.com/\"}},\"body\":{\"type\":\"box\",\"layout\":\"vertical\",\"contents\":[{\"type\":\"text\",\"text\":\"CVE 7\",\"weight\":\"bold\",\"size\":\"xl\"},{\"type\":\"box\",\"layout\":\"baseline\",\"margin\":\"md\",\"contents\":[{\"type\":\"icon\",\"size\":\"sm\",\"url\":\"https://scdn.line-apps.com/n/channel_devcenter/img/fx/review_gold_star_28.png\"},{\"type\":\"icon\",\"size\":\"sm\",\"url\":\"https://scdn.line-apps.com/n/channel_devcenter/img/fx/review_gold_star_28.png\"},{\"type\":\"icon\",\"size\":\"sm\",\"url\":\"https://scdn.line-apps.com/n/channel_devcenter/img/fx/review_gold_star_28.png\"},{\"type\":\"icon\",\"size\":\"sm\",\"url\":\"https://scdn.line-apps.com/n/channel_devcenter/img/fx/review_gold_star_28.png\"},{\"type\":\"icon\",\"size\":\"sm\",\"url\":\"https://scdn.line-apps.com/n/channel_devcenter/img/fx/review_gold_star_28.png\"},{\"type\":\"text\",\"text\":\"5.0\",\"size\":\"sm\",\"color\":\"#999999\",\"margin\":\"md\",\"flex\":0}]}]},\"footer\":{\"type\":\"box\",\"layout\":\"vertical\",\"spacing\":\"sm\",\"contents\":[{\"type\":\"button\",\"style\":\"link\",\"height\":\"sm\",\"action\":{\"type\":\"uri\",\"label\":\"CALL\",\"uri\":\"https://linecorp.com\"}},{\"type\":\"button\",\"style\":\"link\",\"height\":\"sm\",\"action\":{\"type\":\"uri\",\"label\":\"WEBSITE\",\"uri\":\"https://linecorp.com\"}},{\"type\":\"spacer\",\"size\":\"sm\"}],\"flex\":0}}}]}","payloadType":"json","x":240,"y":460,"wires":[["c09b1800.a50a38"]]},{"id":"c546ac00.3ace7","type":"switch","z":"172506d2.6ec649","name":"condition","property":"payload.events[0].message.text","propertyType":"msg","rules":[{"t":"cont","v":"token","vt":"str"},{"t":"cont","v":"liff","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":120,"y":160,"wires":[["7828ed5b.d73364"],["1a6e1860.d95038"],["b5a792ab.8c3d7","68a59788.837c18"]]},{"id":"1123266.7911fda","type":"http request","z":"172506d2.6ec649","name":"LINE: Reply","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://api.line.me/v2/bot/message/reply","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":180,"wires":[[]]},{"id":"d6043ce.914d9c","type":"function","z":"172506d2.6ec649","name":"customHeader","func":"msg.headers = {};\nmsg.headers['Authorization'] = '';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":180,"wires":[["1123266.7911fda"]]},{"id":"7de9f201.99097c","type":"template","z":"172506d2.6ec649","name":"พิมว่า token","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \n    \"replyToken\": \"{{ payload.replyToken }}\",\n    \"messages\": [{\n        \"type\": \"text\", \n        \"text\": \"Data: {{ payload.data }} G:{{ payload.eventJson.groupId }} U:{{ payload.eventJson.userId }}\"\n    }] \n}","output":"json","x":510,"y":140,"wires":[["d6043ce.914d9c"]]},{"id":"b5a792ab.8c3d7","type":"http request","z":"172506d2.6ec649","name":"botnoinoi","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://api-gateway.botnoinoi.com/webhook/603b9dff66a3270009dce8a4/line","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":220,"wires":[[]]},{"id":"6e2a2ff5.566a3","type":"template","z":"172506d2.6ec649","name":"พิมว่า liff","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \n    \"replyToken\": \"{{ payload.replyToken }}\",\n    \"messages\": [{\n        \"type\": \"text\", \n        \"text\": \"https://liff.line.me/1655708726-nL8bZD4o\"\n    }] \n}","output":"json","x":500,"y":180,"wires":[["d6043ce.914d9c"]]},{"id":"7828ed5b.d73364","type":"function","z":"172506d2.6ec649","name":"cleanReplyToken","func":"\nmsg.payload = {\n    replyToken: msg.payload.events[0].replyToken, \n    data: msg.payload.events[0].message.text,\n    eventJson: msg.payload.events[0].source\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":140,"wires":[["7de9f201.99097c"]]},{"id":"1a6e1860.d95038","type":"function","z":"172506d2.6ec649","name":"cleanReplyToken","func":"\nmsg.payload = {\n    replyToken: msg.payload.events[0].replyToken, \n    data: msg.payload.events[0].message.text,\n    eventJson: msg.payload.events[0].source\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":180,"wires":[["6e2a2ff5.566a3"]]},{"id":"68a59788.837c18","type":"switch","z":"172506d2.6ec649","name":"condition","property":"payload.events[0].message.type","propertyType":"msg","rules":[{"t":"eq","v":"image","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":240,"y":260,"wires":[["652e32de.3e3fcc"]]},{"id":"652e32de.3e3fcc","type":"function","z":"172506d2.6ec649","name":"cleanReplyToken","func":"var token = '';\nvar messageId = msg.payload.events[0].message.id\nmsg.payload = {\n    replyToken: msg.payload.events[0].replyToken,\n    token: token,\n    imgurl: \"https://files.sweetlandhub.com/cve7/\"+messageId+\".jpg\",\n    query: msg.payload.events[0].message.id,\n    return: \"https://api-data.line.me/v2/bot/message/\"+messageId+\"/content\",\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":320,"wires":[["55e0d8a.89b1f28"]]},{"id":"55e0d8a.89b1f28","type":"change","z":"172506d2.6ec649","name":"","rules":[{"t":"set","p":"method","pt":"msg","to":"get","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"payload.return","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":320,"wires":[["402bc256.2d28ac"]]},{"id":"402bc256.2d28ac","type":"function","z":"172506d2.6ec649","name":"customHeader","func":"msg.headers = {};\nmsg.headers['Authorization'] = msg.payload.token\nmsg.topic = \"hook\"\nmsg.picture = msg.payload.query\nmsg.token = msg.payload.token\nmsg.replyToken = msg.payload.replyToken\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":260,"wires":[["762ea85.26acf58"]]},{"id":"762ea85.26acf58","type":"http request","z":"172506d2.6ec649","name":"LINE: getImg","method":"use","ret":"bin","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":320,"wires":[["a70b2b82.50ffb8"]]},{"id":"a70b2b82.50ffb8","type":"function","z":"172506d2.6ec649","name":"loadFile","func":"var fileName = \"/home/admin/web/files.sweetlandhub.com/public_html/cve7/\"+msg.picture+\".jpg\"\nvar link = \"https://files.sweetlandhub.com/cve7/\"+msg.picture+\".jpg\"\nmsg.topic = \"filedone\"\nmsg.filename = fileName\nmsg.url = \"http://35.196.112.202:5005/predict?p_image_url=\"+link\nmsg.picture = msg.picture\nmsg.replyToken = msg.replyToken\nmsg.token = msg.token\nmsg.link = link\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":260,"wires":[["a519f1b9.9acad"]]},{"id":"a519f1b9.9acad","type":"file","z":"172506d2.6ec649","name":"writeFile","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":860,"y":320,"wires":[["fc23eb0c.2a0688"]]},{"id":"fc23eb0c.2a0688","type":"http request","z":"172506d2.6ec649","name":"MODEL: Predict","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":960,"y":260,"wires":[["e947435c.02ce"]]},{"id":"e947435c.02ce","type":"function","z":"172506d2.6ec649","name":"customReplyFlex","func":"msg.payload = { \n    \"replyToken\": msg.replyToken,\n    \"messages\": [\n        {\n            \"type\": \"flex\",\n            \"altText\": \"ลูกนี้คือ \"+msg.payload.result+\"\",\n            \"contents\": {\n                \"type\": \"bubble\",\n                \"hero\": {\n                    \"type\": \"image\",\n                    \"url\":  msg.link,\n                    \"size\": \"full\",\n                    \"aspectRatio\": \"20:13\",\n                    \"aspectMode\": \"cover\",\n                    \"action\": {\n                        \"type\": \"uri\",\n                        \"uri\": msg.link\n                    }\n                },\n                \"body\": {\n                    \"type\": \"box\",\n                    \"layout\": \"vertical\",\n                    \"contents\": [\n                        {\n                            \"type\": \"text\",\n                            \"text\": \"ลูกนี้คือ \"+msg.payload.result+\"\",\n                            \"weight\": \"bold\",\n                            \"size\": \"md\"\n                        },\n                        {\n                            \"type\": \"box\",\n                            \"layout\": \"baseline\",\n                            \"margin\": \"md\",\n                            \"contents\": [\n                                {\n                                    \"type\": \"icon\",\n                                    \"size\": \"sm\",\n                                    \"url\": \"https://scdn.line-apps.com/n/channel_devcenter/img/fx/review_gold_star_28.png\"\n                                },\n                                {\n                                    \"type\": \"icon\",\n                                    \"size\": \"sm\",\n                                    \"url\": \"https://scdn.line-apps.com/n/channel_devcenter/img/fx/review_gold_star_28.png\"\n                                },\n                                {\n                                    \"type\": \"icon\",\n                                    \"size\": \"sm\",\n                                    \"url\": \"https://scdn.line-apps.com/n/channel_devcenter/img/fx/review_gold_star_28.png\"\n                                },\n                                {\n                                    \"type\": \"icon\",\n                                    \"size\": \"sm\",\n                                    \"url\": \"https://scdn.line-apps.com/n/channel_devcenter/img/fx/review_gold_star_28.png\"\n                                },\n                                {\n                                    \"type\": \"icon\",\n                                    \"size\": \"sm\",\n                                    \"url\": \"https://scdn.line-apps.com/n/channel_devcenter/img/fx/review_gold_star_28.png\"\n                                },\n                                {\n                                    \"type\": \"text\",\n                                    \"text\": \"5.0\",\n                                    \"size\": \"sm\",\n                                    \"color\": \"#999999\",\n                                    \"margin\": \"md\",\n                                    \"flex\": 0\n                                }\n                            ]\n                        }\n                    ]\n                }\n            }\n        }\n    ]\n}\nmsg.headers = {};\nmsg.headers['Authorization'] = msg.token\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1090,"y":320,"wires":[["c2dca607.4856b8"]]},{"id":"c2dca607.4856b8","type":"http request","z":"172506d2.6ec649","name":"LINE: Reply","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://api.line.me/v2/bot/message/reply","tls":"","persist":false,"proxy":"","authType":"","x":1130,"y":200,"wires":[[]]}]